{% load staticfiles %}
<html>

<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<!-- standard imports -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <!-- page specific imports -->
    {% block html-head%}
    {% endblock %}
</head>

<body>

<div class="container-fluid" id="main">
		<div class="row header">
			<div class="col-md-1 col-xs-1 home">
					<a href="{% url 'index'%}">
						<span class="glyphicon glyphicon-home"></span>
					</a>
			</div> <!-- end of home icon -->

			<div class="col-md-9 col-xs-11 center-container">	
				{% if problems %}
					<p>current problems:</p>
					{% for problem in problems %}
							<a class='problem-button {% if problem.pk|stringformat:"s" == request.session.current_pk|stringformat:"s" %}current-problem-button{% endif %}' href="{% url 'problem' pk=problem.pk%}">
						{{problem.exam.name}}<br>
						{{problem.level}}{{problem.problem}}</a>
					{% endfor %}
				{% else %}
					<p>A database of previous exams for SF1624</p>
				{% endif %}
			</div> <!-- end of center-container -->
			
			<div class="col-md-1 col-xs-9 account-container">
				{% if user.is_authenticated %}
					<p><b><a href="{% url 'logout' %}">logout</a></b></p>
				{% else %}
					<p><b><a href="{% url 'create_user' %}">create user</a></b></p>
					<p><b><a href="{% url 'login' %}">login</a></b></p>
				{% endif %}
			</div> <!-- end of account-container -->

			<div class="col-md-1 col-xs-3 sidebar-button">
				{% block sidebar-button %}
				{% endblock %}
			</div> <!-- end of sidebar-button -->
		</div>	<!-- end of top-header -->
		<div class="row sub-header">
			{% block sub-header %}
			{% endblock %}
		</div> <!-- end of sub-header -->
		<div class="row">
			<div class="col-xs-12 content">
			{% block content %}
			{% endblock %}

			{% block score-matrix %}
				<div class="row">
				{% if user.is_authenticated %}
					<p>current scores:</p>

					<table>
						<tr>
							<td>score</td>
							<td>A</td>
							<td>B</td>
							<td>C</td>
						</tr>
						{% for score_name, score_vector in current_scores %}
							<tr>
								<td>{{score_name}}</td>
								{% for score in score_vector %}
									<td>{{score}}</td>
								{% endfor %}
							</tr>
						{% endfor %}
					</table>
				{% endif %}
				</div>
			{% endblock %}
			</div>
		</div>
	{% block sidebar%}
	{% endblock %}
</div>

</body>

</html>
{% block script%}
{% endblock %}