{% load staticfiles %}
<html>

	<head>
			
		    <meta name="viewport" content="width=device-width, initial-scale=1">
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	        <link rel="stylesheet" href="{% static 'css/index.css' %}">
	</head>

	<body>
		<!-- These links should only be visable if the user is not authenticated -->
		<p>A database of previous exams for SF1624
		{% if user.is_authenticated == False %}
			</p><p>Pick an exam below</p><hr>
			<div class="exam-container">
			{% for exam in exams %}
				<a href="{% url 'exam' date=exam.name %}" style="margin-left:20px;">{{exam.date|date:"m - d - y"}}</a>
			{% endfor %}
			</div>		
			<hr>
			<p>or create a user to track progress and search for specific sets of problems</p>
			<!-- A view for logging in -->
			<a href="{% url 'create_user' %}">Create user</a><br>
			<a href="{% url 'login' %}">Login</a>
		{% else %}
			, welcome {{ user.username}}.</p>
			<a href="{% url 'logout' %}" style="float: right;padding-right:20px;">Logout</a>
			<p><br>Search for a set of problems or pick an exam</p>
			<a href="{% url 'advanced_search' %}">
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"><span class="glyphicon glyphicon-search"></span></a>
			<hr>
			<div class="exam-container">
			{% for exam in exams %}
				<a href="{% url 'exam' date=exam.name %}" style="margin-left:20px;">{{exam.date|date:"m - d - y"}}</a>
			{% endfor %}
			</div>			
			<hr>
			<p>Your current scores:</p>
			<table cellpadding="0" cellspacing="0" border="0">
			{% for score,value in current_scores %}
				<tr>
					<td width="80%">{{score}}</td>
					<td width="80%">{{value}}</td>
				</tr>
			{% endfor %}
			</table>

 			<br><br></p>
			{% if user.username == "Finbel" %}
				<a href="{% url 'populate' %}">populate</a>
			{% endif %}
		{% endif %}
		</div>
</html>