{% load staticfiles %}
<html>

	<head>
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">	
		    <meta name="viewport" content="width=device-width, initial-scale=1">
	        <link rel="stylesheet" href="{% static 'css/search.css' %}">
	</head>

<body>
<p>Search for a set of problems:</p>
<br>
<form method='post'>
	{% csrf_token %}
	<div class="container">
	<div class="col-1">
	<p>{{ form.levels.label_tag }}</p>
	{{ form.levels }}
	<p>{{ form.exam_years.label_tag }}</p>
	{{ form.exam_years }}
	</div>
	<div class="col-2">
	<p>{{ form.include_assignments_of_score.label_tag}}</p><br>
	{{ form.include_assignments_of_score }}
	</div>
	</div>
	<input class="submit-button" type='submit' value='submit'>
</form>
<hr>
<p><br>Your current scores:
{% for score,value in current_scores %}
	<br>{{score}}:{{value}}
{% endfor %}
<br><br></p>

</body>
</html>