*{
	background-color: #1e130c !important;
	color: #DAD6D4 !important;
}

.glyphicon {
	font-size: 150%;
	padding-left: 20px;
}

.exam-container {
	display: flex;
	flex-wrap: wrap;
}

p {
	padding-left: 20px !important;
	font-size: 150%;
	font-family: "Arial Narrow", Arial, sans-serif;
}

td {
	padding-left: 20px !important;
	font-size: 125%;
	font-family: "Arial Narrow", Arial, sans-serif;
}

a {
	padding-top: 10px !important;
	padding-left: 20px !important;
	font-family: "Arial Narrow", Arial, sans-serif;
	font-size: 150%;
	color:#9a8478; 
	text-decoration: none !important;
}

a:hover {
  color:#b29d92; 
}

a:focus {
  color:#b29d92; 
}

/* On smaller screens, where height is less than 450px*/
/*@media screen and (max-width: 450px) {
    p { font-size: 100%; }
    a { font-size: 100%; }
}*/