.content {
	display:flex;
	flex-direction: column;
	background-color: #1e130c !important;
}

.content > *{
	margin-left:1%;
	margin-right:1%;
}

.exam-container {
	max-width: 800px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;

}

.exam-container a{
	font-size: 130%;
	margin-right: 1%;
	margin-bottom: 1%;
	border-color: #9a8478;
	border-style: solid;
	border-radius: 10px;
	padding: 5 5 5 5;
}

.exam-container a:hover{
	border-color:#b29d92;
	background-color: #291D16;
}

.glyphicon-search{
	color: #9a8478;
	font-size: 30;
	border-color: #9a8478;
	border-style: solid;
	border-radius: 10px;
	padding: 6;
}

a:hover .glyphicon-search {
	color:#b29d92;
	border-color:#b29d92;
	background-color: #291D16;
}


.welcome-message {
	color: #49392e;
	margin-left: 15px;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-width: 700px) {
    .content p,td {
		font-size: 100%;
	}

	.welcome-message{
		margin-left: 0px;
	}
}

