.content {
  color: #332922;
}

.sidebar-button {
  justify-content: center;
  align-content: center;
}

.sidebar-button a {
  font-size: 200%;
  color:#9a8478;
  text-decoration: none !important;
  align-self: center;
}

.sidebar-button a:hover {
  color:#b29d92;
}

.siderbar-button a:focus {
  color:#b29d92;
}

.submit-button {
  box-shadow: rgb(242, 250, 220) 0px 0px 38px -3px inset;
  background: linear-gradient(rgb(219, 230, 196) 5%, rgb(155, 168, 146) 100%) rgb(219, 230, 196);
  border-radius: 12px;
  border: 1px solid rgb(178, 184, 173);
  display: inline-block;
  cursor: pointer;
  color: #1e130c !important;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 8px;
  text-decoration-line: none;
  text-decoration-style: initial;
  text-decoration-color: initial;
  text-shadow: rgb(206, 217, 191) 0px 1px 0px;
}

.container-inner-page-col-2 {
  display: flex;
  flex-direction: column;
  order: 2;
  flex-basis: 5;
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  right: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 0px !important;/* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */

}

.closebtn {
  color:#9a8478;
  text-decoration: none !important;
  font-size: 45px;
  padding-left: 25px;
}

.closebtn:hover {
  color:#b29d92;
}

.closebtn:focus {
  color:#b29d92;
}

.column-2-element {
  padding: 0px 0px 8px 32px;
  text-decoration: none;
  font-size: 0.9em;
  color: #818181;
  display: block;
  transition: 0.3s
}


.sidebar-close {
  align-self: right;
  font-size: 150%;
}

.last {
  white-space: nowrap;
  margin-left: 15px;
  text-decoration: none !important;
}

.last *{
  color: #49392e;
}

.last:hover {
  color: #1E130C;
}

.next {
  white-space: nowrap;
  font-weight: bold;
  margin-right: 5px;
  color:#9a8478;
  text-decoration: none !important;
}

.next:hover {
  color:#b29d92;
}

.container-problem-info {
  display:flex;
  font-size: 15px;
  color: #332922;
  justify-content: flex-start;
  align-items: stretch;
  white-space: nowrap;
}

.container-problem-info-text {
  background-color: #B0ABA7;
  display: flex;
  flex-direction: column;
}

.problem-info-score {
  order: 2;
  padding-left: 5px;
  background-color: #1e130c;
  color: #B0ABA7;
  border-style: solid;
  border-color: #1e130c #1e130c #1e130c #5D544F;
  flex-basis:100%;
}

.container-problem {
  display: flex;
  flex-direction: column;
  align-items: left;
}


img {
  max-width:100%;
}

a.next-last-btn{
  background-color: blue;
  border-radius: 50px;
}

/* Style the tab */
div.tab {
  display:flex;
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.tabcontent {
  background-color: #efecea;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

.hide{
  display: none !important;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-right .5s;;
}

.solution_file-unclicked {
  width: 200px;
}

.solution_file-clicked {
  width: 100%;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-width: 700px) {
    .container-inner-page-col-2 {
      padding-top: 15px;
      height: 100%;
    }
    .column-2-element .column-2-element {font-size: 18px;}

    .home {
        font-size: 180%;
    }

    .solution_file {
      width: 300px;
    }

    .last{
      margin-left: 0px;
    }

  div.tab button{
    padding: 5px 16px;
  }

}
@media screen and (min-width: 700px) {
  .tablinks{
    width: 11%
  }
}