*{
	background-color: #1e130c !important;
}

.container {
	display:flex;
}

.content > *{
  margin-left:1%;
  margin-right:1%;
}

.submit-button {
  box-shadow: rgb(242, 250, 220) 0px 0px 38px -3px inset; 
  background: linear-gradient(rgb(219, 230, 196) 5%, rgb(155, 168, 146) 100%) rgb(219, 230, 196); 
  border-radius: 12px; 
  border: 1px solid rgb(178, 184, 173); 
  display: inline-block; 
  cursor: pointer; 
  color: #1e130c !important; 
  font-family: Arial; 
  font-size: 15px; 
  font-weight: bold; 
  padding: 8px; 
  margin-left: 20px;
  text-decoration-line: none; 
  text-decoration-style: initial; 
  text-decoration-color: initial; 
  text-shadow: rgb(206, 217, 191) 0px 1px 0px;
}